name: Build LaTex Document
on:
  push:
    branches:
      - main
    tags:
      - '*'
  pull_request:
    branches:
      - main

jobs:
  CI:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Download CJK fonts
      run: sudo apt update && sudo apt install -y fonts-noto-cjk
    - uses: actions/cache@v4.2.4
      name: Cache tectonic and fonts
      with:
        path: |
          ~/.cache/Tectonic
          ~/.local/share/fonts
        key: ${{ runner.os }}-tectonic-${{ hashFiles('**/*.tex') }}
        restore-keys: |
           ${{ runner.os }}-tectonic-
    - name: Setup tectonic
      uses: wtfjoke/setup-tectonic@v3.1.4
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
    - name: Compile TeX to PDF
      run: tectonic main.tex
    - name: Tag release
      uses: softprops/action-gh-release@v2
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: main.pdf
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
